body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	color: rgba(35, 50, 64, 0.8);
}

html, .app-container {
	height: 100%;
}

.app-container {
	display: flex;
}

.app-container > .roots-wrapper {
	padding-left: 20px;
}

/* ---- Initial Warning Component ---- */

.initial-warning-container {
	align-items: center;
	border-right: 1px solid black;
	display: flex;
	flex: 0 0 70%;
	font-size: 16px;
	justify-content: center;
}

.initial-warning-container div {
	text-align: center;
}

.initial-warning-container i {
	opacity: 0.5;
}

/* ---- Node Name Component ---- */

.node-name-container {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
}

/* ---- Node Wrapper ---- */

.node-wrapper {
	padding-bottom: 4px;
	position: relative;
	left: -20px;
	width: 100%;
}

.node-wrapper.expandable {
	left: -32px;
}

.node-wrapper.selected {
	background: rgba(0, 0, 0, 0.1);
}

.node-wrapper.highlight {
	background: rgba(0, 0, 0, 0.2);
}

/* ---- Roots Wrapper ---- */

.roots-wrapper {
	border-right: 1px solid black;
	flex: 0 0 70%;
}

.roots-wrapper, .state-pane-container {
		overflow: auto;
}


/* ---- State Pane Component ---- */

.state-pane-container {
	flex: 1 0 30%;
	font-size: 14px;
}

.state-pane-container > div > h2 {
	margin: 0;
}

.state-pane-container ul li {
	font-size: 14px;
}

.state-pane-container ul li span {
	opacity: 0.8;
}

.state-pane-container ul li pre {
	margin: 0;
}

.state-pane-container > div {
	padding-left: 12px;
}

.state-pane-container ul {
	list-style: none;
	margin: 0;
	padding-left: 12px;
}

.state-pane-container h1 {
	border-bottom: 2px solid black;
	padding-left: 12px;
}

/* ---- Arrow Styles ---- */

.arrow {
	display: inline-block;
	height: 8px;
	width: 8px;
	padding-right: 4px;
}

.arrow:before {
	border-color: black;
	content: '';
	cursor: pointer;
	display: inline-block;
	height: 0;
	margin-right: -8px;
	width: 0;
}

.arrow.down:before {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid;
}

.arrow.right:before {
	border-bottom: 4px solid transparent;
	border-left: 8px solid;
	border-top: 4px solid transparent;
}
