$hoverState: rgba(#9552EF, 0.1);
$purple: rgb(136, 18, 128);
$sand: #C50000;
$selectedState: rgba(#9552EF, 0.2);
$slate: rgba(35, 50, 64, 0.8);
$white: #FFFFFF;
$paneBorder: 1px solid #CCC;

body {
	background: $white;
	height: 100%;
	margin: 0;
	overflow: hidden;
	color: rgba(35, 50, 64, 0.8);
}

html, .app-container {
	height: 100%;
}

.roots-wrapper, .state-pane-container {
		overflow: auto;
}

.app-container {
	display: flex;
}

.resize-container {
	border-right: $paneBorder;
	cursor: col-resize;
	flex: 0 0 0;
	height: 100%;
	padding-left: 1px;
}

/* ---- Initial Warning Component ---- */

.initial-warning-container {
	align-items: center;
	display: flex;
	flex: 0 0 70%;
	font-size: 16px;
	justify-content: center;

	> div {
		text-align: center;
	}

	i {
		opacity: 0.5;
	}
}

/* ---- Node Name Component ---- */

.node-name-container {
	color: #A894A6;
	display: inline-block;
	font-size: 14px;
	transition: background 200ms;

	&.flash {
		background: rgba($purple, 0.5);
	}

	.name {
		color: $purple;
	}
}

/* ---- Node Wrapper ---- */

.node-wrapper {
	padding-bottom: 4px;
	position: relative;

	&.highlight {
		background: $hoverState;
	}

	&.selected {
		background: $selectedState;
	}

	.node-name-container {
		cursor: pointer;
	}

	.overlay {
		background: $white;
		border-radius: 4px;
		box-shadow: 0 0 1px 1px $slate;
		position: absolute;
		top: -4px;
		z-index: 1;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				cursor: pointer;
				padding: 12px;
				text-align: center;

				&:hover {
					background: rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}

/* ---- Roots Wrapper ---- */

.roots-wrapper {
	flex: 0 0 70%;
	padding-top: 12px;
}

/* ---- State Pane Component ---- */

.state-pane-container {
	flex: 1 0 30%;
	font-size: 14px;

	> div {
		padding-left: 12px;
	}

	.header {
		border-bottom: $paneBorder;
		font-weight: bold;
		padding: 8px 0 8px 12px;

		.node-name-container {
			font-weight: normal;
		}

		.see-in-dom {
			font-size: 11px;
			font-style: italic;
			font-weight: 400;
			margin-left: 12px;
			text-decoration: none;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.category {
		.data {
			list-style: none;
			margin: 0;
			padding-left: 12px;

			.key {
				color: $sand;
			}

			.value {
				transition: background 200ms;

				&.flash {
					background: rgba($purple, 0.5);
				}

				pre {
					background: inherit;
					margin: 0;
				}
			}
		}

		.name {
			font-size: 16px;
			font-weight: bold;
		}
	}
}

/* ---- Arrow Styles ---- */

.arrow {
	display: inline-block;
	height: 8px;
	width: 8px;
	padding-right: 4px;

	&:before {
		border-color: black;
		content: '';
		cursor: pointer;
		display: inline-block;
		height: 0;
		margin-right: -8px;
		width: 0;
	}

	&.down:before {
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 8px solid;
	}

	&.right:before {
		border-bottom: 4px solid transparent;
		border-left: 8px solid;
		border-top: 4px solid transparent;
	}
}
