{
  "extends": ["liferay"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "chrome": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "comma-dangle": ["error", 2],
    "no-undef": 2,
    "no-unused-vars": 2,
    "prefer-const": 2,
    "react/jsx-uses-vars": [2],
    "require-jsdoc": 0,
    "sort-keys": 2
  }
}
