{namespace ChildSoy}

/**
 * @param index
 * @param subTree
 */
{template .render}
	<div style="padding-left:32px">
		Child #{$index}:

		<button onClick="handleClick">+</button>

		{if $subTree}
			<div>
				{call ParentSoy.render}
					{param childrenArr: [] /}
				{/call}
			</div>
		{/if}
	</div>
{/template}
