{namespace ChildSoy}

/**
 * @param? backgroundColor
 * @param index
 * @param? subTree
 */
{template .render}
	<div style="padding-left:32px; background-color: {$backgroundColor};">
		Child #{$index}:

		<button onClick="handleClick">+</button>
		<button onClick="randomColor">color!</button>

		{if $subTree}
			<div>
				{call ParentSoy.render}{/call}
			</div>
		{/if}
	</div>
{/template}
