{namespace ParentSOY}

/**
 * @param childrenArr
 */
{template .render}
	<div>
		Go to:<a href="/metal-devtools/jsx.html">JSX example</a>

		<h1>JSX example</h1>
		<button onClick="addChild">Add a Child!</button>

		{foreach $child in $childrenArr}
			{call ChildSOY.render}
				{param index: index($child) /}
			{/call}
		{/foreach}
	</div>
{/template}
